body {
  --primary: #00a0ff;
  --error: #ff4d4f;
  --success: #07bc0c;

  --black: #000;
  --white: #fff;

  --lightgray: #f7f7f7;
  --lightgray-2: #d9d9d9;
  --lightgray-3: #e6e5e5;

  --dark-green: #02922d;
}

body.dark {
  --primary: #00a0ff;
  --error: #ff4d4f;
  --success: #07bc0c;

  --black: #fff;
  --white: #000;

  --lightgray: #333;
  --lightgray-2: #d9d9d9;
  --lightgray-3: #eeeeee;
  --lightgray-3: #e6e5e5;

  --dark-green: #02922d;
}
